USE
[Data]
GO
/****** Object:  Table [dbo].[PayrollActivity]    Script Date: 5/13/2023 1:48:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PayrollActivity]
(
    [
    PayrollActivityId ] [
    int ]
    NOT
    NULL, [
    BFY ] [
    nvarchar ]
(
    80
) NULL,
    [EFY] [nvarchar]
(
    80
) NULL,
    [RpioCode] [nvarchar]
(
    80
) NULL,
    [RpioName] [nvarchar]
(
    80
) NULL,
    [FundCode] [nvarchar]
(
    80
) NULL,
    [FundName] [nvarchar]
(
    80
) NULL,
    [AhCode] [nvarchar]
(
    80
) NULL,
    [AhName] [nvarchar]
(
    80
) NULL,
    [RcCode] [nvarchar]
(
    80
) NULL,
    [RcName] [nvarchar]
(
    80
) NULL,
    [SubRcCode] [nvarchar]
(
    80
) NULL,
    [SubRcName] [nvarchar]
(
    80
) NULL,
    [AccountCode] [nvarchar]
(
    80
) NULL,
    [ProgramProjectCode] [nvarchar]
(
    80
) NULL,
    [ProgramProjectName] [nvarchar]
(
    80
) NULL,
    [ProgramAreaCode] [nvarchar]
(
    80
) NULL,
    [ProgramAreaName] [nvarchar]
(
    80
) NULL,
    [NpmCode] [nvarchar]
(
    80
) NULL,
    [NpmName] [nvarchar]
(
    80
) NULL,
    [FocCode] [nvarchar]
(
    80
) NULL,
    [FocName] [nvarchar]
(
    80
) NULL,
    [HrOrgCode] [nvarchar]
(
    80
) NULL,
    [HrOrgName] [nvarchar]
(
    80
) NULL,
    [WorkCode] [nvarchar]
(
    80
) NULL,
    [WorkCodeName] [nvarchar]
(
    80
) NULL,
    [PayPeriod] [nvarchar]
(
    80
) NULL,
    [StartDate] [datetime] NULL,
    [EndDate] [datetime] NULL,
    [CheckDate] [datetime] NULL,
    [Amount] [float] NULL,
    [Hours] [float] NULL,
    [BasePaid] [float] NULL,
    [BaseHours] [float] NULL,
    [Benefits] [float] NULL,
    [OvertimePaid] [float] NULL,
    [OvertimeHours] [float] NULL,
    CONSTRAINT [PK_PayrollActivity] PRIMARY KEY CLUSTERED
(
[
    PayrollActivityId ] ASC
)
    WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
    ON [PRIMARY]
    )
    ON [PRIMARY]
    GO
