USE
[Data]
GO
/****** Object:  Table [dbo].[ObligationActivity]    Script Date: 5/13/2023 1:48:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ObligationActivity]
(
    [
    ObligationActivityId ] [
    int ]
    NULL, [
    BFY ] [
    nvarchar ]
(
    80
) NULL,
    [EFY] [nvarchar]
(
    80
) NULL,
    [FundCode] [nvarchar]
(
    80
) NULL,
    [FundName] [nvarchar]
(
    80
) NULL,
    [TreasuryAccountCode] [nvarchar]
(
    80
) NULL,
    [BudgetAccountCode] [nvarchar]
(
    80
) NULL,
    [RpioCode] [nvarchar]
(
    80
) NULL,
    [RpioName] [nvarchar]
(
    80
) NULL,
    [AhCode] [nvarchar]
(
    80
) NULL,
    [AhName] [nvarchar]
(
    80
) NULL,
    [OrgCode] [nvarchar]
(
    80
) NULL,
    [OrgName] [nvarchar]
(
    80
) NULL,
    [AccountCode] [nvarchar]
(
    80
) NULL,
    [ProgramProjectName] [nvarchar]
(
    80
) NULL,
    [BocCode] [nvarchar]
(
    80
) NULL,
    [BocName] [nvarchar]
(
    80
) NULL,
    [FocCode] [nvarchar]
(
    80
) NULL,
    [FocName] [nvarchar]
(
    80
) NULL,
    [DocumentType] [nvarchar]
(
    80
) NULL,
    [DocumentNumber] [nvarchar]
(
    80
) NULL,
    [ProcessedDate] [datetime] NULL,
    [OpenCommitments] [float] NULL,
    [Obligations] [float] NULL,
    [Used] [float] NULL,
    [UnliquidatedObligations] [float] NULL,
    [Outlays] [float] NULL
    ) ON [PRIMARY]
    GO
