USE
[Data]
GO
/****** Object:  Table [dbo].[Messages]    Script Date: 5/13/2023 1:48:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages]
(
    [
    MessageId ] [
    int ]
    NOT
    NULL, [
    Message ] [
    nvarchar ]
(
    255
) NULL,
    [Type] [nvarchar]
(
    80
) NULL,
    [Form] [nvarchar]
(
    80
) NULL,
    CONSTRAINT [PK_Messages] PRIMARY KEY CLUSTERED
(
[
    MessageId ] ASC
)
    WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
    ON [PRIMARY]
    )
    ON [PRIMARY]
    GO
