USE
[Data]
GO
/****** Object:  Table [dbo].[AnnualReimbursableSurvey]    Script Date: 5/13/2023 1:48:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnnualReimbursableSurvey]
(
    [
    AnnualReimbursableSurveyId ] [
    int ]
    NOT
    NULL, [
    BFY ] [
    nvarchar ]
(
    80
) NULL,
    [FundCode] [nvarchar]
(
    80
) NULL,
    [FundName] [nvarchar]
(
    80
) NULL,
    [Amount] [float] NULL,
    CONSTRAINT [PK_AnnualReimbursableSurvey] PRIMARY KEY CLUSTERED
(
[
    AnnualReimbursableSurveyId ] ASC
)
    WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
    ON [PRIMARY]
    )
    ON [PRIMARY]
    GO
