USE
[Data]
GO
/****** Object:  Table [dbo].[InfrastructureAccounts]    Script Date: 5/13/2023 1:48:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InfrastructureAccounts]
(
    [
    InfrastructureAccountsId ] [
    int ]
    NOT
    NULL, [
    StrategicPlan ] [
    nvarchar ]
(
    80
) NULL,
    [BFY] [nvarchar]
(
    80
) NULL,
    [EFY] [nvarchar]
(
    80
) NULL,
    [AccountCode] [nvarchar]
(
    80
) NULL,
    [GoalCode] [nvarchar]
(
    80
) NULL,
    [ObjectiveCode] [nvarchar]
(
    80
) NULL,
    [NpmCode] [nvarchar]
(
    80
) NULL,
    [NpmName] [nvarchar]
(
    80
) NULL,
    [ProgramProjectCode] [nvarchar]
(
    80
) NULL,
    [ProgramProjectName] [nvarchar]
(
    80
) NULL,
    [ActivityCode] [nvarchar]
(
    80
) NULL,
    [ActivityName] [nvarchar]
(
    80
) NULL,
    [ProgramAreaCode] [nvarchar]
(
    80
) NULL,
    [ProgramAreaName] [nvarchar]
(
    80
) NULL,
    [ProgramName] [nvarchar]
(
    80
) NULL,
    [ProgramDescription] [nvarchar]
(
    80
) NULL,
    CONSTRAINT [PK_InfrastructureAccounts] PRIMARY KEY CLUSTERED
(
[
    InfrastructureAccountsId ] ASC
)
    WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
    ON [PRIMARY]
    )
    ON [PRIMARY]
    GO
