USE
[Data]
GO
/****** Object:  Table [dbo].[ApplicationTables]    Script Date: 5/13/2023 1:48:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationTables]
(
    [
    ApplicationTablesId ] [
    int ]
    NOT
    NULL, [
    TableName ] [
    nvarchar ]
(
    80
) NULL,
    [Model] [nvarchar]
(
    80
) NULL,
    [Title] [nvarchar]
(
    80
) NULL,
    CONSTRAINT [PK_ApplicationTables] PRIMARY KEY CLUSTERED
(
[
    ApplicationTablesId ] ASC
)
    WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
    ON [PRIMARY]
    )
    ON [PRIMARY]
    GO
